body {
    /* background-image: ("..assets/images/background.jpg") */
    background-image: url("https://hdwallsource.com/img/2014/7/beautiful-beach-background-17581-18141-hd-wallpapers.jpg");
}
.gamebox {
    margin: 10px 200px 0px 200px; 
    width: 960px;
    animation-name: gameanima;
    animation-duration: 10s;
}
.TTT {
    font-size: 200%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
    animation-name: TTTanima;
    animation-duration: 10s;
}
#TIME {
    font-size: 150%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q1, #q2, #q3, #q4, #q5 {
    font-size: 150%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q1aa, #q1bb, #q1cc, #q1dd {
    font-size: 110%;
    font-weight: bold;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q2aa, #q2bb, #q2cc, #q2dd {
    font-size: 110%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q3aa, #q3bb, #q3cc, #q3dd {
    font-size: 110%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q4aa, #q4bb, #q4cc, #q4dd {
    font-size: 110%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q5aa, #q5bb, #q5cc, #q5dd {
    font-size: 110%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q6 {
    font-size: 125%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#q6aa {
    font-size: 125%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;
}
#postpoints {
    font-size: 125%;
    color: goldenrod;
    background-color: purple;
    padding: 10px;
    text-align: center;   
}

/* ANIMATION */

@keyframes gameanima {
    0% {
        margin: 50px 400px 0px 400px; 
        width: 460px;
    }
    100% {
        margin: 10px 200px 0px 200px; 
        width: 960px;
    }
}
@keyframes TTTanima {
    0% {
        font-size: 500%;
        color: white;
        background-color: grey;
        padding: 10px;
        text-align: center;
        color: white;
    }
    100% {
        font-size: 200%;
        color: goldenrod;
        background-color: purple;
        padding: 10px;
        text-align: center;
    }
}
        